


.container {
   
    font-size: 16px;
    vertical-align: top;
    width: 90%; /* Smaller width to leave space on left and right */
    max-width: 1200px; /* Set a max width for larger screens */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Wrap items to new lines */
    justify-content: center; /* Center items horizontally */
   
    border-radius: 10px;
   
  }

.product {
    width: 25%;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

}


.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.price {
    font-size: 16px;
   
    margin: 10px 0;
}

.sizes {
    margin: 10px 0;
}

.sizes button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sizes button:hover {
    background-color: #ff3131;
}

.add-to-cart {
    background-color: #ff3131;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.add-to-cart:hover {
    background-color: #da1f1f;
}

.product_img {
  width: 350px !important;
  height: 350px !important;
}
  
  .exit-link {
    position: fixed; /* Stays fixed on scroll */
    top: 870px; /* Distance from the top of the page */
    left: 40px; /* Distance from the left side */
    border-radius: 10px;
    color: white;
    background-color: #ff3131;
    padding: 20px 30px;
    text-decoration: none;
  }

  /* Style for the "Check out" link */
  .checkout-link {
    position: fixed; /* Stays fixed on scroll */
    top: 870px; /* Distance from the top of the page */
    right: 40px; /* Distance from the right side */
    background-color: #ff3131; /* Optional: Add some background color */
    color: white; /* Optional: Change text color */
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 10px;
  }
  .exit-link:hover {
    background-color: #da1f1f;
    transform: scale(1.05);
  }

  /* Style for the "Check out" link */
  .checkout-link:hover {
    background-color: #da1f1f;
    transform: scale(1.05);
  }

  footer{
    background-color: #c80808;
    padding: 40px;
    color: white;
    display: flex;  align-items: flex-start; 
    
    
  }

  